@import "colours.css";

* {
	/* `otf-font-awesome` is required to be installed for icons */
	font-family: "Google Sans Flex" ;
	font-size: 0.82rem;
	margin: 0;
	border-width: 0;


}

window#waybar {
	background: transparent;
	padding : 0; 
	margin : 0;
}

.modules-left,
.modules-center,
.modules-right {
	background: alpha(@background , 0.65);
	border: 1px solid @primary;
	border-radius: 20px;
	box-shadow: 0 0px 0px @shadow;
	padding: 2px 0;
	padding-top: 0;
	padding-bottom: 0;
	
}


button {
	/* Use box-shadow instead of border so the text isn't offset */
	box-shadow: inset 0 -3px transparent;
	/* Avoid rounded borders under each button name */
	border: none;
	border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
	background: inherit;
	box-shadow: inset 0 -3px #ffffff;
}
#custom-weather,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#mpris,
#hyprland-workspaces,
#custom-power,
#custom-wallpaper,
#custom-notifications,
#tray,
#custom-launch,
#mpd,
#mode,
#bluetooth,
#workspaces,
#idle_inhibitor,
#scratchpad,
#workspaces button,
#power-profiles-daemon,
#custom-clipboard,
#mpd,
#custom-title,
#wlr-taskbar {
	padding: 0 10px;
	color : @on_surface;
	font-weight : bold ; 
}

#custom-wallpaper {}

#window,
#workspaces {
	margin: 0 4px;
	margin-right : -40px;
}
#workspaces button.active {
	border-radius : 50px ; 
	background : @primary; 
	color : @on_primary;
}

#clock {
}
#mpris {
}

#mpd {}
#custom-power {
	margin-top : 0.5px; 
	margin-bottom: 0.5px; 
	margin-left: 12px;
	margin-right: 12px;
	background : @primary; 
	border-radius : 50%; color : @on_primary; 
	

}

#battery {
}

#battery.charging,
#battery.plugged {}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#power-profiles-daemon {
	padding-right: 15px;
}

label:focus {}

#cpu {
	color: rgb(203, 166, 247);
}
#clock {color : @primary;}

#disk {}

#backlight {}

#power-profiles-daemon.performance,
#power-profiles-daemon.balanced,
#power-profiles-daemon.power-saver {
}

#network {
}

#pulseaudio {
	padding: 0;
	font-size: 12px;
}

#wireplumber {
	padding: 0;
}

#wireplumber.muted {
	padding: 0;
}

#pulseaudio button {
	padding: 0;
	/* remove internal button padding */
	border: none;
	/* avoid extra pixels */
	border-radius: 0;
}

#pulseaudio:hover {
	box-shadow: none;
	/* no hover expansion */
}

#custom-media {
}



#temperature {}

#temperature.critical {}


#tray>.passive {
	-gtk-icon-effect: dim;
}

#tray>.needs-attention {
	-gtk-icon-effect: highlight;
}

#idle_inhibitor {}

#idle_inhibitor.activated {}

#mpd {}

#mpd.disconnected {}

#mpd.stopped {}

#mpd.paused {}

#language {
	padding: 0 5px;
	margin: 0 5px;
	min-width: 16px;
}

#keyboard-state {
	padding: 0 0px;
	margin: 0 5px;
	min-width: 16px;
}

#keyboard-state>label {
	padding: 0 5px;
}

#keyboard-state>label.locked {
	background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
	background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
	padding: 0;
}

#privacy-item {
	padding: 0 5px;
}

#privacy-item.screenshare {}

#privacy-item.audio-in {}

#privacy-item.audio-out {}

#custom-weather {}

#custom-title {}

#memory {

}

#custom-clipboard {
}

#bluetooth {
}

#custom-media {
}

#wlr-taskbar {
	border: 0;
}
#custom-notifications {
	
}
#custom-launch {
	border-radius : 50%; 
	color : @on_primary ; 
	background-color : @primary; 
	margin : 2px;
	margin-right : 4px;
	min-width : 10px; 
	min-height : 10px;
}
