@import "colours.css";
* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color : rgba(17 , 17 , 17 , 0.45);
}

button {
    border-radius: 0;
    border-color: @primary;
	text-decoration-color: @on_primary_fixed;
    color: @on_surface;
	background-color : rgba(17 , 17 , 17 , 0.45);

	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	border-radius : 50px;
	margin-left : 70px;
	margin-right : 70px;
	margin-top : 30px;
	margin-bottom : 30px;
}

button:focus, button:active, button:hover {
	background-color: @primary;
	outline-style: none;
	color : @on_primary;
}

#lock {
		
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));

}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));

}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));

}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));

}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));

}
