@import "colours.css";
* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: alpha(@background , 0.9);
}

button {
    border-radius: 0;
    border-color: black;
	text-decoration-color: @on_primary_fixed;
    color: @on_primary;
	background-color: alpha(@surface , 0.9);
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: @primary_fixed_dim;
	outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
		border-radius: 90px;
		padding : 10px; 
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
				border-radius: 90px;
		margin : 10px; 

}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
				border-radius: 90px;
		margin : 10px; 

}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
				border-radius: 90px;
		margin : 10px; 

}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
				border-radius: 90px;
		margin : 10px; 

}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
				border-radius: 90px;
		margin: 10px; 

}
