* {
	background: {{ colors.background.dark.hex }}CC;
	primary: {{ colors.primary.dark.hex }};
	on-surface: {{ colors.on_surface.dark.hex }};
	surface: {{ colors.surface.dark.hex }}CC;
	on-primary : {{ colors.on_primary.dark.hex }};
}
